body {
    background: #a4e336;
    background-image: url(img/background.png);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #6BC146;
    text-shadow: 3px 3px 3px #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}


::selection {
    color: #000;
    background: #6BC146;
    text-shadow: 0px 0px 0px #000;
}
/*::-moz-selection {
    background: #ffb7b7; =
}*/


input{
    background: #6BC146;
    content: black;
}

input:enabled{
    background: #6BC146;
}

input:focus{
    background: #6BC146;
}

input:any-link{
    background: #6BC146;
}

.semiopacity {
    /*padding: 5px;*/
    /*background-image: url(img/back2.png)*/
    /*opacity: .3;
    background: #CDD6DB;*/
    background: rgba(10, 10, 10, 0.65);
}

a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
    margin-right: 10px;
}

p {
    font-size: 20px;
    color: #6BC146;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h5 {
    font-size: 25px;
    color: #6BC146;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h2 {
    font-size: 35px;
    /*text-decoration: underline;*/
    color: #6BC146;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h4 {
    font-size: 25px;
    color: #6BC146;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h3 {
    color: #6BC146;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    font-size: 80px;
    color: #6BC146;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
    background: #567895;
    opacity: .3;
}

.menu {
    display: flex;
    justify-content: center;
}
